html, body {
    height: 100%;
}

body {
    font-family: helvetica s, helvetica;
    font-size: 125%;
    padding: 0;
    margin: 0;    
    
    vertical-align: top;
    /*text-align: center;*/
    
    background-color: #000;
    color: #fff;
    
    height: 100%;
}

#frame {
    position: absolute;
    background-color: transparent;
    width: 100%;
    margin: 10% 10% 10% 10%;
}

img.backdrop {
  position:fixed;
  z-index: -1;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity: 0.25;
}

img.poster {
    float: left;
    width: 25%;
    margin: 10% 1% 0% 0%;
    
    border-radius: 6px;
}

.title {
    font-size: 250%;
    font-weight: bold;
}

.title .year {
    font-color: gray;
}

.info {
    float: left;
    width: 40%;
    margin: 10% 10% 1% 1%;
}

.rating {
    font-size: 150%;
}

.tags {
    float: left;
    width: 40%;
    margin: 0% 10% 10% 1%;
}

.tags div.tag {
    border:     3px solid #fff;
    display:    inline-block;
    padding:    3px 6px 3px 6px;
    border-radius: 6px;
    background-color: black;
}

/*
.movie {
    display: none;
}*/