<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"> 
<title>DMS - Streams!</title>
<link rel="stylesheet" href="css/base.css" type="text/css" media="all" />
    
<script type="text/javascript" src="js/jquery.js" charset="utf-8"></script>
<script type="text/javascript" src="js/jquery.tmpl.js" charset="utf-8"></script>
<script type="text/javascript" src="js/jquery.ba-bbq.js" charset="utf-8"></script>
<script type="text/javascript" src="js/jquery.touchSwipe.js" charset="utf-8"></script>
<script type="text/javascript" src="js/jquery.log.js" charset="utf-8"></script>
<script type="text/javascript" src="js/mvc.js" charset="utf-8"></script>

<script id="backdropTmpl" type="text/x-jquery-tmpl">
    <img src="/pyremo/media/movies/download/backdrop/${_id["$oid"]}" style="display: none;"/>
</script>

<script id="posterTmpl" type="text/x-jquery-tmpl">
    <img src="/pyremo/media/movies/download/poster/${_id["$oid"]}"/>
</script>

<script id="moviesTmpl" type="text/x-jquery-tmpl">
    <div class="movies">
        <div>            
            <img class="poster" src="/pyremo/media/movies/download/poster/${data.cur_movie._id.$oid}"/>
        </div>
        
        <div class="listing">
        {{if !data.level }}
            <ul>
            {{each(index, movie_i) data.movies }}            
            <li class="{{if data.cur_movie._id.$oid == movie_i._id.$oid }}marked{{/if}}">${movie_i.name}</li>
            {{/each}}
            </ul>
            <div class="pagination">
                <div class="count">${data.movie_pager.total_elements()} items</div>
                <div class="page">Page ${data.movie_pager.cur_page()}/${data.movie_pager.total_pages()}</div>
            </div>            
        {{/if}}
        
        {{if data.level }}
            <div class="info">
                <div class="title">${data.cur_movie.name}</div>
                <div class="runtime">${data.cur_movie.runtime} minutes</div>
                <div class="overview">${data.cur_movie.overview}</div>
                <ul class="genres">
                    {{each data.cur_movie.genres}}
                        <li>${$value}{{if ($index+1)< data.cur_movie.genres.length}},{{/if}}</li>
                    {{/each}}
                </ul>
                <ul class="tags">
                    {{if data.cur_movie.rating}}<li>${data.cur_movie.rating}</li>{{/if}}
                    {{if data.cur_movie.year}}<li>${data.cur_movie.year}</li>{{/if}}
                {{each data.cur_movie.tags}}
                    <li>${$value}</li>
                {{/each}}
                </ul>
            </div>
        {{/if}}
        </div>
    </div>    
</script>

<script id="movieListing" type="text/x-jquery-text">
    <div class="listing">
        <ul>
        {{each(index, movie_i) data.movies }}
        
        <li class="{{if data.cur_movie._id.$oid == movie_i._id.$oid }}marked{{/if}}">${movie_i.name}</li>
        {{/each}}
        </ul>
        <div class="pagination">
            <div class="count">${data.movies.length} items</div>
            <div class="page">Page ?/?</div>
        </div>
    </div>
</script>

<script id="movieInfoTmpl" type="text/x-jquery-tmpl">
    <div class="info">
        <div class="title">${name}</div>
        <div class="overview"><span>${overview}</span></div>
        <ul class="tags">
            {{if rating}}<li>${rating}</li>{{/if}}
            {{if year}}<li>${year}</li>{{/if}}
        {{each tags}}
            <li>${$value}</li>
        {{/each}}
        </ul>
    </div>
</script>

<script id="navItemTmpl" type="text/x-jquery-tmpl">
    <div class="nav">
        <ul class="medias">
        {{each(index, navItem) data.navItems }}
        <li class="{{if data.curNavItem.name == navItem.name }}marked{{/if}}">${navItem.name}</li>
        {{/each}}
        </ul>
    </div>
</script>

</head> 
<body>
<div id="backdrop">
    <img src="/img/backdrop_tv.jpg" />
</div>
<div id="frame">
    <div id="notifications"></div>
    <div id="breadcrumbs"></div>
    <div id="nav"></div>
    <div id="aside"></div>
    <div id="content"></div>
</div>
<script>

$(function () {
    
    
    var mc      = mvc.controller('#content', '#moviesTmpl');
    
    mc.level    = false;    
    mc.action = function(e) {
        
        var page = mvc.pager(13, mc.movies);
        if ((e.type =='input') && (e.namespace == 'down')) {
            mc.movies.next();
        }
        if ((e.type =='input') && (e.namespace == 'up')) {
            mc.movies.prev();
        }
        if ((e.type =='input') && (e.namespace == 'i')) {
            mc.level = !mc.level;
        }
        
        if (e.namespace != 'i') {                           // Assign backdrop
            $('#backdrop img').fadeOut('slow', function() {$(this).remove();});
            $('#backdropTmpl').tmpl(mc.movies.getItem()).appendTo("#backdrop");
            $('#backdrop img').fadeIn('fast');
        }
        
        mc.assign("level",          mc.level);
        mc.assign("cur_movie",      mc.movies.getItem());
        mc.assign("movies",         page.elements());
        mc.assign("movie_pager",    page);
        mc.render();

    }
    mc.movies   = mvc.dataSet(
        "/pyremo/media/movies/find//?sort=name:ASC",
        function(ds) { mc.action('data.ready');  }
    );
    
    // Controllers bind / unbind these
    $(document).bind('input.left',  mc.action);
    $(document).bind('input.right', mc.action);
    $(document).bind('input.up',    mc.action);
    $(document).bind('input.down',  mc.action);
    $(document).bind('input.i',     mc.action);
    
    /*
    var navItems = [
        {name: "TV Shows"},
        {name: "Movies"},
        {name: "Pictures"},
    ];
    $('#navItemTmpl').tmpl( {data: {navItems:navItems, curNavItem:navItems[0]}} ).appendTo("#content");*/
    
    /**
     *  "Normalization" / mapping of input-events.
     *
     */                                                
    $(document).keypress(function(event) {          // Keyboard
        var e;
        switch(event.which) {
            
            case 97:
                e = 'left';
                break;
            
            case 100:
                e = 'right';
                break;
            
            case 119:
                e = 'up';
                break;
            
            case 115:
                e = 'down';
                break;
            
            case 105:
                e = 'i';
                break;

            default:
                $.log("Unhandled keypress event"+event.which);
        }
        if (e) {
            $.log("Triggering: "+e);
            $(document).trigger('input.'+e);
        }
    });

    $(document).swipe({                                 // Swipe gestures
        
        swipeLeft:  function() {    $(document).trigger('input.right')  },
        swipeRight: function() {    $(document).trigger('input.left')   },
        threshold: 50
        
    });
    
});
    
</script>
</body>
</html>

