<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"> 
<title>DMS - Streams!</title>
<link rel="stylesheet" href="css/base.css" type="text/css" media="all" />
    
<script type="text/javascript" src="js/jquery.js" charset="utf-8"></script>
<script type="text/javascript" src="js/jquery.tmpl.js" charset="utf-8"></script>
<script type="text/javascript" src="js/galleria.js" charset="utf-8"></script>

<script id="backdropTmpl" type="text/x-jquery-tmpl">
    <img src="/pyremo/media/movies/download/backdrop/${_id["$oid"]}"/>
</script>

<script id="movieZoomTmpl" type="text/x-jquery-tmpl">
    <div class="movie">        
        <img class="poster" src="/pyremo/media/movies/download/poster/${_id["$oid"]}"/>
        <div class="info">
            <div class="title">${name}</div>
            <div class="overview"><span>${overview}</span></div>
            <ul class="tags">
                {{if rating}}<li>${rating}</li>{{/if}}
                {{if year}}<li>${year}</li>{{/if}}
            {{each tags}}
                <li>${$value}</li>
            {{/each}}
            </ul>
        </div>
    </div>
</script>

</head> 
<body>
<div id="backdrop">
    <img src="http://www.htbackdrops.com/v2/albums/userpics/10097/Project1.jpg" />
</div>
<div id="frame">
    <div id="breadcrumbs"></div>
    <div id="nav"></div>
    <div id="list"></div>
</div>
<script>
    
    var movie_i = 0;
    var movies;

    function viewMovie() {
        
        $('#list').empty();
        $('#movieZoomTmpl').tmpl(movies[movie_i]).appendTo("#list");
        $('#backdrop').empty();
        $('#backdropTmpl').tmpl(movies[movie_i]).appendTo("#backdrop");        
        
        
    }
    
    $.ajax({                                // Grab list of pictures from backend
      dataType: "json",
      url: "/pyremo/media/movies/find//?sort=name:ASC",
      jsonp: "$callback",
      success: function (data) { movies = data; viewMovie(); }
    });
    
    $('body').bind('click', function() { viewMovie(); });
    
</script>
</body>
</html>
